# Autodetect text files
* text=auto

# Definitively text files
*.cs text
*.cake text

# Shell scripts
*.sh text eol=lf

# Git lfs
*.crt filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.snk filter=lfs diff=lfs merge=lfs -text

# Setting up Netlify with Git LFS is cumbersome
docs/*.ico !filter=lfs !diff=lfs !merge=lfs -text
docs/*.png !filter=lfs !diff=lfs !merge=lfs -text
