@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="~/"/>
  <link href="css/site.css" rel="stylesheet"/>
  <link href="WeatherForecast.styles.css" rel="stylesheet"/>
  <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
  <title>Weather Forecast</title>
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
<script type="module" src="https://unpkg.com/@@fluentui/web-components"></script>
</body>
</html>
