@import url('https://fonts.googleapis.com/css?family=Rubik');

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Rubik', sans-serif;
}

[data-md-color-scheme="testcontainers"]
{
  --md-primary-fg-color: #291a3f;
  --md-accent-fg-color: #291a3f;
  --md-typeset-a-color: #0c94aa;
}

body .card-grid-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #c3bede;
  border-radius: 6px;
  padding: 16px;
  font-weight: 600;
  color: #9991b5;
  background: #f2f4fe;
}

body .card-grid-item:hover,
body .card-grid-item:focus {
  color: #9991b5;
}

.card-grid {
  display: grid;
  gap: 10px;
}

@media (min-width: 680px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-grid-item[href] {
  color: var(--md-primary-fg-color);
  background: transparent;
}

.card-grid-item[href]:hover,
.card-grid-item[href]:focus {
  color: var(--md-primary-fg-color);
  background: #f2f4fe;
}

@media (min-width: 1220px) {
  .community-callout-wrapper {
    padding: 40px 0 0;
  }

  @media (min-width: 1600px) {
    .community-callout h2 {
      font-size: 1.15em;
    }
  }
}

.community-callout {
  background: linear-gradient(10.88deg, rgba(102, 56, 242, 0.4) 9.56%, #6638F2 100%), #291A3F;
  border-radius: 10px;
  box-shadow: 0px 20px 45px rgba(#9991B5, 0.75);
  color: #F2F4FE;
  padding: 20px;
}

.community-callout a {
  transition: opacity 0.2s ease;
}

.community-callout a img {
  height: 1.75em;
}

.community-callout a img {
  height: 2em;
}

.community-callout a img {
  aspect-ratio: 1;
  height: 1.75em;
  width: auto;
}

.community-callout a:hover {
  opacity: 0.5;
}

.community-callout h2 {
  font-size: 1.25em;
}

.community-callout h2 {
  color: #F2F4FE;
  font-size: 1.15em;
  margin: 0 0 20px 0;
  text-align: center;
}

.community-callout ul {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 0;
}

.community-callout-wrapper {
  padding: 30px 10px 0 10px;
}